<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Profil</title>

    <link rel="stylesheet" href="css/style.css"/>
    <div>
        <div id="fixmeret">
        <header class="Felsoresz">
        <div  class="kezdo" id="home" onclick="openInNewTab('http://134.209.85.197:8080/')"> <div id="buttondes"></div>
        <div>
        <div class="kezdo"  id="profilProfil">Profil</div>
    </div>
    </div>
    </div>
</header>


<script src="css/index.js" type="text/javascript"></script>

</head>
<body id="profil">
   
     
</br> </br>
</br>

<div class = "title">



    <p> Saját adatok: <span style="float : right;"> Ingatlanok: </span> </p>
    <p> Név: </p>
    <p> e-mail: </p>
</div>
<hr>
<h1> Hírek kezelése </h1>
<div  class = "design">
    <p> Új hír hozzáadása: </p>
    <form action="/addHir" method="post" >
        <label for="hircim">Hír címe:</label>
        <input type="text" id="hircim" name="cim"><br><br>
        <label for="hirszoveg">Hír tartalma:</label>
        <input type="text" id="hirszoveg" name="tartalom"><br><br>
        <label>Kép:</label>
        <input type="file" id="myFile1" name="filename1"><br><br>
        <input type="submit" value="Létrehozás">
      </form>
</div>
<br>
<div  class = "design">    <p> Hír módosítása: </p>
    <form action="/updateHir" method="post">
        <label for="modhircim">Módosítandó hír id:</label>
        <input type="number" id="modhircim" name="id"><br><br>
        <label for="modcim">Új cím:</label>
        <input type="text" id="modcim" name="cim"><br><br>
        <label for="modhirszoveg">Új szöveg:</label>
        <input type="text" id="modhirszoveg" name="tartalom"><br><br>
        <input type="submit" value="Módosítás">
    </form>
</div>
<br>
<div  class = "design">    <p> Hír törlése </p>
    <form action="/deleteHir" method="post">
        <label for="torlendohir">Törlendő hír id:</label>
        <input type="number" id="id" name="id"><br><br>
        <input type="submit" value="Törlés">
    </form>
</div>
<br>
<div  class = "design">    <p> Hírek listázása </p>
    <form action="/getHir" method="get">
        <input type="submit" value="Hírek listázása" onclick="showListHir()">
        <input type="submit" value="Hírek elrejtése" onclick="hideListHir()">
        
    </form>
</div>
<br>

<hr>
<h1> Ingatlanok kezelése </h1>
<div  class = "design">    <p> Ingatlan hozzáadása </p>
        
     <input type="submit" value="Ingatlan hozzáadása" onclick="openInNewTab('http://134.209.85.197:8080/hirdetesfeladas')">
    
</div>
<br>
<!-- <div  class = "design">    <p> Ingatlan módosításának engedélyezése </p>
    <form action="/">
        <label for="enghir"> Ingatlan:</label>
        <input type="text" id="enghir" name="enghir"><br><br>
        <input type="submit" value="Engedélyezés">
    </form>
</div>
<br> -->
<div  class = "design">    <p> Ingatlan törlése </p>
    <form action="/deleteIngatlan" method="post">
        <label for="deleteingatlan"> Ingatlan:</label>
        <input type="number" id="id" name="id"><br><br>
        <input type="submit" value="Törlés">
    </form>
</div>
<br>
<div  class = "design">    <p> Ingatlanok listázása </p>
    <form action="/getIngatlan" method="get">
        <input type="submit" value="Ingatlanok lsitázása">
            <table>
               <thead>
                  <tr>
                    <th>iranyitoszam</th>
                    <th>varos</th>
                    <th>utca</th>
                    <th>hazszam</th>
                    <th>emelet</th>
                    <th>ajto</th>
                    <th>meret</th>
                    <th>ar</th>
                    <th>kategoria</th>
                    <th>leiras</th>
                    <th>net</th>
                    <th>gaz</th>
                    <th>viz</th>
                    <th>villany</th>
                    <th>szoba</th>
                    <th>kep</th>
                    <th>elado</th>
                    <th>kiado</th>
                  </tr>
               </thead>
               
            </table>
    </form>
</div>
<hr>
<h1> Felhasználók kezelése </h1>
<div  class = "design">    <p> Felhasználó törlése: </p>
    <form action="/deleteIngatlan">
        <label for="deleteprofil">Törlendő felhasználó neve:</label>
        <input type="text" id="deleteprofil" name="deleteprofil"><br><br>
        <input type="submit" value="Törlés">
    </form>
</div>
<br>
<div  class = "design">    <p> Új felhasználó hozzáadása: </p>
    <form action="/createUser">
        <label for="email">E-mail</label>
        <input type="text" id="email" name="email"><br><br>
        <label for="telefonszam">Telefonszám:</label>
        <input type="tel" id="telefonszam" name="telefonszam"><br><br>
        <label for="jelszo">Jelszó:</label>
        <input type="password" id="jelszo" name="jelszo"><br><br>
        <input type="submit" value="Felhasználó létrehozása">
      </form>
</div>
<br>
<div  class = "design">    <p> Felhasználók listázása </p>

    <form action="/getUser">
        <input type="submit" value="Felhasználók lsitázása">
    </form>
</div>

</body>
</html>


